@model List<SecProject.Models.ProductsToShow>

@{
    var list = @Model.Where(t => !String.IsNullOrWhiteSpace(t.ImgUrl)).ToList();
}
<table>
    @for (int index = 0; index < list.Count(); index++)
    {
        if (index % 3 == 0)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrWhiteSpace(list[index].ImgUrl))
                    {
                        <img src="@Url.Content(list[index].ImgUrl)" style="height: 250px" alt="Image" />
                        <div style="margin-bottom: 3px; margin-top: 3px" align="center">
                            <a href=@list[index].BuyUrl target="_blank" class="btn btn-danger btn-sm">Where to buy</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (!list[index].UserProductLinkTable.Contains(list[index].Name))
                                {
                                    <a onclick="addToWardrobe('@list[index].Name')" class="btn btn-success btn-sm">Add to Wardrobe</a>
                                }
                                else
                                {
                                    <a class="btn btn-info">You have this</a>
                                }

                            }
                        </div>
                    }
                </td>
            </tr>
        }
        else
        {
            <td>
                @if (!String.IsNullOrWhiteSpace(list[index].ImgUrl))
                    {
                        <img src="@Url.Content(list[index].ImgUrl)" style="height: 250px" alt="Image" />
                        <div style="margin-bottom: 3px; margin-top: 3px" align="center">
                            <a href=@list[index].BuyUrl target="_blank" class="btn btn-danger btn-sm">Where to buy</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (!list[index].UserProductLinkTable.Contains(list[index].Name))
                                {
                                    <a onclick="addToWardrobe('@list[index].Name')" class="btn btn-success btn-sm">Add to Wardrobe</a>
                                }
                                else
                                {
                                    <a class="btn btn-info">You have this</a>
                                }

                            }
                        </div>
                    }
            </td>
        }
    }
</table>