@model SecProject.Models.ProductViewModel

@Html.Hidden("changeSubcategory", Url.Action("ChangeSubCategory", "Home"))
@Html.Hidden("addToWardrobe", Url.Action("AddToWardrobe", "Home"))
@Html.Hidden("onDropDownChangeOnProductsFilter", Url.Action("DropDownFilterOnProducts", "Home"))
@*<script src="~/Scripts/FilterOnProducts.js" type="text/javascript"></script>*@

@{
    Html.RenderPartial("ProductsMain", Model);
}







    @*<article>
        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>
    </article>

    <aside>
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </aside>
@*}}*@